@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-um: #070F2B;
    --cor-dois: #1B1A55;
    --cor-tres: #535C91;
    --cor-quatro: #508C9B;
    --cor-cindo: #BFB8B0;
    --cor-sexta: #9290C3;
}

html{
    scroll-behavior: smooth;
}

body {
    background: url("images/fundo-preto-e-branco-ondulado_23-2150530921.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    font-family: "Ubuntu", sans-serif;
}

a{
    text-decoration: none;
    color: white;
    color: #0d0d0d;
}

a:hover{
    opacity: 0.7;
}


.logo{
    display: flex;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#letter-first{
    color: var(--cor-dois);
}

nav{
    display: flex;
    justify-content: space-around;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    align-items: center;
    height: 100px;
}


.nav-list{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
}

.nav-list a:hover{
    color: var(--cor-tres);
    transition-duration: 0.5s;
}

main{
    justify-content: center;
    align-items: center;
}

#container-main {
    height: 100vh;
}

#presentation{
    position: relative;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
    padding-left: 15%;
    padding-top: 10%;
}

#presentation-container {
    display: flex;
    flex-direction: column;
}

#letter-hello{
    background-color: var(--cor-um);
    color: var(--cor-cindo);
    padding: 5px;
    border-radius: 10px;
}

#presentation p{
    font-size: 25px;
}

#presentation h1{
    font-size: 60px;
}

#buttons-presentation {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    color: #dbdbdb;
}

#presentation button {
    width: 150px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
}

#page-aboutme{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #dbdbdb;
    color: black;
    height: 100vh;
    font-family: "Ubuntu", sans-serif;
}

#container-photo-aboutme img{
    width: 450px;
    border-radius: 20px;
    box-shadow: -2px 2px 20px #0d0d0d;
}

#text-aboutme{
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
}

#text-aboutme ul {
    text-align: justify;
}

#text-aboutme li {
    padding: 10px;
}

::-webkit-scrollbar{
    width: 15px;
    background-color: #272727;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px ;
    background-color: var(--cor-tres);
}

#buttons-aboutme{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
}

.button-aboutme{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--cor-dois);
    border: none;
    
}


@keyframes button {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(0.8);
  }
}

button:hover{
    animation-name: button;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#experiencies{
    height: 100vh;
    text-align: center;
}

#experiencies h1{
    font-size: 30px;
}

#container-cards{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container{
    position: relative;
    width: 350px;
    height: 550px;
}

.container:hover .flip{
    transform: rotateY(180deg);
}

.flip{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;
}

.frente,
.tras{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.819);
    backface-visibility: hidden;
}

.frente{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9290C3;
    font-size: 25px;
}

.tras{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: var(--cor-cindo);
    transform: rotateY(180deg);
    font-weight: bold;
}

.linha-do-tempo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    justify-content: center;
    background-color: #0d0d0d;
    height: 100%;
    width: 8px;
}

.ano {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.ano p{
    font-size: 16px;
}

.ano img{
    width: 50px;
}

#faculdade{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#faculdade img{
    border-radius: 50px;
}

#colegio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#colegio img{
    border-radius: 50px;
}

.text{
    display: flex;
    flex-direction: column;
}

#text-ano-academic-education{
    gap: 100px;
}

#image-hanke {
    background-color: white;
    border-radius: 50px;
}

#skills{
    height: 100vh;
    background-color: #dbdbdb;
    color: var(--cor-dois);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.467);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px;
}

.skills-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 200px;
    width: 200px;
    border-radius: 30px;
    background-color: var(--cor-cindo);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.503);
    color: black;
    font-weight: bold;
}

.card img{
    width: 80px;
}

.button-card{
    margin-top: 30px;
    padding: 10px;
    height: 50px;
    width: 120px;
    border-radius: 30px;
    border: none;
    border-radius: 10px;
    background-color: #535c9187;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
}

#footer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 100;
    color: #1B1A55;
    height: 5vh;
}

.btn-top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--cor-tres);
    border-radius: 12px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: all ease 400ms;
}